#contents>#cont2>img {
    width: 340px;
    height: 180px;
    margin-top: 10px;
    margin-left: 10px;
}

#contents>#cont3>img {
    width: 340px;
    height: 180px;
    margin-top: 10px;
    margin-left: 10px;
}